{% extends "base.html" %}
{% load bootstrap5 %}
{% block body %}
  <div class="col-lg-8 mx-auto" style="margin-top: 120px;margin-bottom: 100px;">
    <div style="text-align: center;">
      <h1><span class="green">Change Password</span></h1>
    </div>
    <div class="col-lg-8 mx-auto" style="margin-top: 120px;margin-bottom: 100px;">
      <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <div class="d-grid">
          <button type="submit" class="btn btn-secondary btn-lg btn-block">Change</button>
        </div>
      {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock %}
